<%- include index %>
        <table width="700" border="0" cellpadding="0" cellspacing="0" id="mytable"> 
            <thead>
                <tr align="center" valign="middle">
                    <td colspan="7" class="tt"><%= title %></td>
                <tr>
                <tr align="center" valign="middle"> 
                    <td>名字</td> 
                    <td>种类</td> 
                    <td>年龄</td> 
                    <td>性别</td> 
                    <td>地区</td> 
                    <td>备注</td> 
                    <td>维护操作</td> 
                </tr> 
            </thead> 
        <tbody id="group_one">
            <% pets.forEach(function (pet, index) { %>    
            <tr align="center" valign="middle"> 
                <td><%= pet.name %></td> 
                <td><%= pet.category %></td> 
                <td><%= pet.age %></td> 
                <td><%= pet.sex %></td>  
                <td><%= pet.area %></td> 
                <td><%= pet.text %></td> 
                <td><a href="/delete/b/<%= pet._id%>">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/g_petmodify/<%= pet._id%>" target="rightframe">修改</a>&nbsp;&nbsp;</td>
            </tr> 
            <% }) %> 
        </tbody> 
    </table>   
	<div class="fen">
        <% if (!isFirstPage) { %>
        <a href="?p=<%= 1 %>" title="">首 页</a>/
        <a href="?p=<%= page-1 %>" title="上一页">上一页</a>/
        <% } %>
        <% if (!isLastPage) { %>
        <a href="?p=<%= page+1 %>" title="下一页">下一页</a>/
        <a href="?p=<%= Math.ceil(total/8) %>">末 页</a>
        <% } %>
        <span>第<%= page %>页/共<%= Math.ceil(total/8) %>页</span>
    </div>
</div>
</body>
</html>